---
import LinkResource from './icons/LinkResource.astro';

interface Props {
    name: string;
    description: string;
    image: string;
    link: string;
}

const { image, name, description, link } = Astro.props;
---

<article
    class="flex flex-col gap-2 py-4 px-4 border bg-purple-400/5 border-white/10 rounded-sm shadow w-96 hover:border-white/30 transition"
>
    <img
        class="object-cover"
        src={`/images/${image}`}
        alt={`Imagen de ${name}`}
    />
    <div class="flex gap-2">
        <h1 class="font-medium">{name}</h1>
        <a href={link}>
            <LinkResource/>
        </a>
    </div>
    <p class="font-extralight text-white/80 text-pretty">{description}</p>
</article>
